<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS Basic</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head> -->

<!-- <body> -->

<!-- <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/upload">Upload file</a>
</div>

<div>
  <div class="w3-container">
    <h2>List users Table</h2>
  </div>
</div> -->

<!-- </body> -->

<!-- </html> -->
<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body class="">
    <header class="bg-transparent">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand mt-2" href="/">
              <h4 class="badge badge-success px-4 py-3">
                <i class="fa-solid fa-house pr-2"></i>
                HOME
              </h4>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <h2 class="py-4 mt-2 text-center">Admin Page</h2>
      <div class="modal__create">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@mdo"
        >
          Create New User
        </button>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Create New User
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form name="myForm" action="/create-new-user" method="POST">
                  <div class="form-group">
                    <label for="firstName" class="col-form-label"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      name="firstName"
                    />
                  </div>
                  <div class="form-group">
                    <label for="lastName" class="col-form-label"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      name="lastName"
                    />
                  </div>
                  <div class="form-group">
                    <label for="emailId" class="col-form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="emailId"
                      name="email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="addressId" class="col-form-label"
                      >Address</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="addressId"
                      name="address"
                    />
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Create
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main>
        <div class="table py-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i < dataUser.length; i++) { %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= dataUser[i].firstName %></td>
                <td><%= dataUser[i].lastName %></td>
                <td><%= dataUser[i].email %></td>
                <td><%= dataUser[i].address%></td>
                <td class="d-flex">
                  <!-- <form>
                    <a
                      class="btn btn-primary"
                      href="/detail/user/<%= dataUser[i].id %>"
                      >Detail</a
                    >
                  </form> -->

                  <form action="/edit-user/<%= dataUser[i].id %>" method="GET">
                    <button type="submit" class="btn btn-warning mx-3">
                      Edit
                    </button>
                  </form>
                  <form action="/delete-user" method="POST">
                    <input
                      type="text"
                      hidden
                      value="<%= dataUser[i].id %>"
                      name="userId"
                    />
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
    </div>

    <footer><%- include('partials/footer'); -%></footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
